<configuration>

<property name="HOME_LOG" value="C:\Users\Kuba\Desktop\logi\app.log"/>


<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${HOME_LOG}</file>
    <append>true</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
        <pattern>%m%n</pattern>
    </encoder>
</appender>


</configuration>
